body{
  padding-top: 25px;
  background: url('/textured_paper.png');
}

.container-wrapper{
  padding: 25px;
  background-color: white;
  -webkit-box-shadow: inset 0px 0px 2px 1px rgba(00, 00, 00, 0.4);
  /*box-shadow: inset 0px 0px 4px 1px rgba(00, 00, 00, 0.5);*/
}