<template name="meetup">
  
</template>

<template name="meetupList">
  <div class="row">
    <div class="span12">
      <h1>Meetups</h1>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
        {{#each meetups}}
          <tr>
            <td>{{ date }}</td>
            <td>{{ time }}</td>
            <td>{{ location }}</td>
            <td>
              <button class="btn btn-danger delete" data-id="{{ _id }}">Delete</button>
            </td>
          </tr>
        {{/each}}    
        </tbody>
      </table>
    </div>
    <div class="span4">
      <form class="">
        <div class="control-group">
          <label class="control-label">Date:</label>
          <div class="controls">
            <input name="date" type="text"> 
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Time:</label>
          <div class="controls">
            <input name="time" type="text">                
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Location:</label>
          <div class="controls">
            <input name="location" type="text">
          </div>
            <input class="btn btn-primary" type="submit" value="Add">
        </div>
      </form>
    </div>
  </div>
  
  
  
  
</template>