<template name="meetup">
  
</template>

<template name="meetupList">
  <h2>Meetups</h2>
  <form>
    <label>Date:</label>
    <input name="date" type="text">
    <label>Time:</label>
    <input name="time" type="text">
    <label>Location:</label>
    <input name="location" type="text">
    <input type="submit" value="Add">
  </form>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
    {{#each meetups}}
      <tr>
        <td>{{ date }}</td>
        <td>{{ time }}</td>
        <td>{{ location }}</td>
      </tr>
    {{/each}}    
    </tbody>
  </table>
  
</template>