<template name="topic">
  
</template>

<template name="topicList">
  <h2>Topics</h2>
   <form>
    <label>Name:</label>
    <input name="name" type="text">
    <input type="submit" value="Add">
  </form>
  <table>
    <thead>
      <tr>
        <th>Votes</th>
        <th>Name</th>
        <th>Speaker</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    {{#each topics}}
      <tr>
        <td>{{votes}}</td>
        <td>{{name}}</td>
        <td>{{speaker}}</td>
        <td>
          <button data-id="{{_id}}" class="vote">vote</button>
          <button data-id="{{_id}}" class="register-speaker">register</button>
        </td>
      </tr>
      <li>#{{votes}} {{name}} <button>Vote</button></li>
    {{/each}}
    </tbody>
  </table>
</template>